@model HWASP.Models.RegistrationPageModel
@{
    ViewData["Title"] = "Registration";
}

<div class="text-center">
    <h1 class="display-4"> @Model.PageTitle<h1>
</div>
<form method="post">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="signup-username">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="signup-password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

@if (Model.FormModel.UserName != null)
{
    <p>Your name: Ім'я: @Model.FormModel.UserName</p>
    <p>Your password: @Model.FormModel.Password</p>
}

 